body {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;

    background-image: url('../assets/home.png');
    background-size: cover;

    font-size: 3vh;
    color: white;

}

.ancients-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
    height: 50vh;
    margin: 0 auto;
}

.ancient-card {
    width: 15vw;
    height: 20vw;

    background-size: cover;

    box-shadow: 10px 5px 15px black;
    border-radius: 5px;

    cursor: pointer;
}
.ancient-card:hover {
    position: relative;
    top: -5px;
}
.ancient-card-active {
    box-shadow: 5px 5px 25px red;
}

.ancient-command {
    position: fixed;
    bottom: 25vh;
    
    width: 100vw;

    text-align: center;

    font-size: 48px;
}

.difficulty-container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 45vh;
    padding-left: 20px;

    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
}

.difficulty-setter {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 100%;
    height: 70%;

}

.difficulty-level-radio {
    cursor: pointer;
}

.deck-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75vw;

}

.mix-button {
    width: 15vw;
    height: 7vh;
    padding: 0 10px;

    background-color: black;
    border-radius: 7px;

    color: white;
    text-align: center;
    line-height: 7vh;

    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    transition: all 0.5s;
    transition: opacity 0.5s;
}

.mix-button:hover {
    background-color: gray;
    color: black;
}

.phase-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 17vw;
    height: 100%;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

.phase-tracker {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 30%;

    border-radius: 7px;
}

.phase-tracker-active {
    background-color: rgba(0, 0, 0, 0.4);

}

.phase-name {
    width: 100%;
    padding: 0;
    margin: 0;

    text-align: center;
    font-size: 3vh;
    font-weight: 500;
    color: white;
}

.phase-cards {
    display: flex;
    justify-content: space-around;

    
}

.phase-card {
    border-radius: 3px;

    font-weight: bold;
    text-align: center;
    line-height: 4vw;
    color:yellow;
}

.phase-green {
    width: 3vw;
    height: 4vw;

    background-color: green;
}

.phase-brown {
    width: 3vw;
    height: 4vw;

    background-color: brown;
}

.phase-blue {
    width: 3vw;
    height: 4vw;

    background-color: blue;
}

.deck {
    display: flex;
    justify-content: space-around;
    width: 40vw;
    height: 100%;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s;
}

.deck-card {
    width: 15vw;
    height: 20vw;

    background-size: cover;  
    border-radius: 5px;  

    /* transition: all 1s; */
}

.unflip-card {
    background-image: url('../assets/mythicCardBackground.png');
    opacity: 1;

    cursor: pointer;
    
}
.unflip-card:hover {
    position: relative;
    top: 10px;

    transition: all 0.5s;
}